<div class="fixed">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><%= link_to t('.site_title'), main_app.root_url %></h1>
      </li>
      <li class="toggle-topbar menu-icon">
        <a href="#"><span><%= t('.menu') %></span></a>
      </li>
    </ul>

    <section class="top-bar-section">
      <%= render 'application/foundation/main_navigation' %>
      <%= render 'application/foundation/user_navigation' %>
    </section>
  </nav>
</div>
